@import "ember-power-select";
@import './fonts';

$background1: #323040;
$background2: #2E2859;
$lightColor: #AAA3D9;
$altLightColor: #6E698C;
$whiteish: #C8C7D5;

body,
html {
  height: 100%;
}

body {
  background-color: $background1;
  color: $lightColor;
  font-family: 'Pier Sans', sans-serif;
  font-size: 14pt;
}

.heading {
  color: $whiteish;
  font-size: 6vw;
  font-weight: normal;
  text-align: center;
  .pacifico {
    font-family: 'Pacifico';
  }
}

.info {
  color: $lightColor;
  margin-bottom: 25px;
  text-align: center;
}

.flatpickr-input {
  font-size: 12pt;
  padding: 10px;
  margin: 0px 0px 10px 0px;
}

button {
  background-color: $whiteish;
  border: none;
  border-radius: 4px;
  font-size: 12pt;
  padding: 10px 20px;
  &:hover {
    background-color: $background2;
    color: $whiteish;
    cursor: pointer;
  }
}

centered {
  padding: 10px;
}


