@import "ember-power-select";
@import './fonts';

$background1: #3D2F53;
$background2: #2E2859;
$lightColor: #AAA3D9;
$altLightColor: #6E698C;
$whiteish: #C8C7D5;

$c-cream: #f5f0e1;
$c-primary: #3D2F53;
$c-navBar: darken($c-primary, 5%);

$ember-3d-nav: (
  'is-fixed-nav-bg': #624B86,
  'nav-bg': $c-navBar,
  'nav-items': 3,
  'nav-item-hover': darken(#3D2F53, 10%),
  'nav-item-selected': darken(#3D2F53, 10%),
  'nav-text-color': #f5f0e1,
  'nav-trigger-color': #f5f0e1
);

$c-color-1: #DA4843;
$c-color-2: #c96aa4;
$c-color-3: #d6915e;
$c-color-4: #5397c7;
$c-color-5: #77cd91;

// Import Addon SCSS
@import 'ember-3d-nav';

body,
html {
  height: 100%;
}

body {
  background-color: $background1;
  color: $lightColor;
  font-family: 'Pier Sans', sans-serif;
  font-size: 14pt;
}

.ember-3d-nav {
  a {
    font-size: 13px;
    text-decoration: none;
  }

  centered {
    &:first-of-type a::before {
      background-image: url(../img/docs.svg);
    }

    &:nth-of-type(2) a::before {
      background-image: url(../img/github.svg);
    }

    &:nth-of-type(3) a::before {
      background-image: url(../img/boat.svg);
    }
  }
}

.logo {
  float: left;

  img {
    width: 50px;
    height: 50px;
  }

  .logoText {
    color: $c-cream;
    float: right;
    font-size: 30px;
    height: 35px;
    margin-top: 14px;
  }
}

.heading {
  color: $whiteish;
  font-size: 6vw;
  font-weight: normal;
  margin-top: 45px;
  text-align: center;
  .pacifico {
    font-family: 'Pacifico';
  }
}

.info {
  color: $lightColor;
  margin-bottom: 25px;
  text-align: center;
}

.flatpickr-input {
  font-size: 12pt;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px solid #DDDDDD;
  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
}

.nav-trigger {
  margin-top: 5px;
}

.select, button {
  border-radius: 0;
  padding: 5px;
  margin: 0px 0px 10px 0px;
}

button {
  background-color: $whiteish;
  border: none;
  font-size: 12pt;
  padding: 15px 20px;
  &:hover {
    background-color: $background2;
    color: $whiteish;
    cursor: pointer;
  }
}

centered {
  padding: 10px;
}

h2, h3 {
  color: $whiteish;
}

.half {
  padding: 1rem;
}

.selectedValue {
  min-width: 380px;
}

