<page>
  <grid>
    <centered xs="12">
      <span class="heading"><span class="pacifico">ember</span> flatpickr</span>
    </centered>
    <centered xs="12">
      <centered class="info" xs="8" md="6">
        Ember flatpickr is an Ember addon that wraps the datepicker flatpickr.
        All options available to flatpickr should be available. If one is missing,
        please file an issue on GitHub and we'll get it implemented straight away!
      </centered>
    </centered>
  </grid>

    <vbox>
      <hbox>
        <box xs="12" md="6" class="half">
          <h2>Demo</h2>
          {{ember-flatpickr
            appendDataInput=true
            defaultDate=defaultDate
            enableTime=true
            locale=locale
            minDate=minDate
            onClose="onClose"
            onChange="onChange"
            onReady="onReady"
            placeholder="Pick date"
            value=(readonly dateValue)
          }}

          <p>
            You selected: {{dateValue}}
          </p>
        </box>
        <box xs="12" md="6" class="half">
          <h2>Options</h2>

          <p>Try switching locales or setting the min date, and check out the changes.</p>

          <span>Change Locale:&nbsp;</span>
          {{#power-select
            matchTriggerWidth=false
            options=locales
            searchEnabled=false
            selected=locale
            onchange=(action (mut locale))
          as |option|
          }}
            {{option}}
          {{/power-select}}

          <button {{action "updateMin"}}>Set minDate to '2080-12-24T16:16:22.585Z'</button>
        </box>
      </hbox>
    </vbox>
</page>
