{{ember-flatpickr
appendDataInput=true
minDate=minDate
onCloseAction="onClose"
onChangeAction="onChange"
placeholder="Pick date"
value=(mut dateValue)
}}

Current date value: {{dateValue}}

<br/>

<button {{action "updateMin"}}>Update Min</button>
