<screen>
  <centered>
    <h1 class="heading">ember flatpickr</h1>
  </centered>
  <centered>
    <p class="info">
      Ember Flatpickr is an Ember addon that wraps the datepicker flatpickr.
    </p>
  </centered>
  <centered>
    <div>
      <p>Choose a date:</p>
      {{ember-flatpickr
      appendDataInput=true
      defaultDate=defaultDate
      enableTime=true
      minDate=minDate
      onClose="onClose"
      onChange="onChange"
      placeholder="Pick date"
      value=dateValue
      }}
    </div>
  </centered>
  <centered>
    Current date value: {{dateValue}}
  </centered>

  <centered>
    Click here to set minDate="today"
    <button {{action "updateMin"}}>Update Min</button>
  </centered>

</screen>
