<DocsViewer as |viewer|>
  <viewer.nav as |nav|>
    <nav.section @label="Introduction" />
    <nav.item @label="Introduction" @route="docs.index" />
    <nav.item @label="Usage" @route="docs.usage" />
    <nav.item @label="Test Helpers" @route="docs.test-helpers" />

    <nav.section @label="Components" />
    <nav.item
      @label="ember-flatpickr"
      @route="docs.components.ember-flatpickr"
    />
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>